<div th:replace="~{/header_template.html}"></div>

<body>
<h1>Офисы банка</h1>
<h2><a th:href="@{/banklab/banks/{bankId}(bankId = ${bankId})}">
    <button>Вернуться</button>
</a></h2>
<form th:method="post"
      th:action="@{/banklab/banks/{bankId}/offices(bankId = ${bankId})}"
      th:object="${bankOfficeRequestDto}"
>
    <h2>Добавить офис банка</h2>
    <label>
        Введите название:
        <input type="text" th:field="*{name}" placeholder="Название" required>
    </label>
    <label>
        Введите адрес:
        <input type="text" th:field="*{address}" placeholder="Адрес" required>
    </label>
    <label>
        Введите сумму денег:
        <input type="number" step="0.01" th:field="*{totalMoney}" placeholder="Сумма денег" required>
    </label>
    <label>
        Введите стоимость аренды:
        <input type="number" step="0.01" th:field="*{rentCost}" placeholder="Стоимость аренды" required>
    </label>
    <label>
        Введите статус работы:
        <input type="checkbox" th:field="*{isWorking}" placeholder="Статус работы">
    </label>
    <label>
        Введите возможность размещения банкомата:
        <input type="checkbox" th:field="*{canPlaceAtm}" placeholder="Возможность размещения банкомата">
    </label>
    <label>
        Введите возможность выдачи кредита:
        <input type="checkbox" th:field="*{canIssueCredit}" placeholder="Возможность выдачи кредита">
    </label>
    <label>
        Введите возможность выдачи денег:
        <input type="checkbox" th:field="*{canDispenseMoney}" placeholder="Возможность выдачи денег">
    </label>
    <label>
        Введите возможность приёма денег:
        <input type="checkbox" th:field="*{canAcceptMoney}" placeholder="Возможность приёма денег">
    </label>
    <input type="submit" value="Добавить офис банка">
</form>
<h1>Список офисов банка:</h1>
<div th:each="bankOfficeResponseDto : ${bankOfficeResponseDtos}" class="item">
    <span>Название:</span>
    <span th:text="${bankOfficeResponseDto.getName()}"></span>
    <span>Адрес:</span>
    <span th:text="${bankOfficeResponseDto.getAddress()}"></span>
    <span>Сумма денег:</span>
    <span th:text="${bankOfficeResponseDto.getTotalMoney()}"></span>
    <span>Стоимость аренды:</span>
    <span th:text="${bankOfficeResponseDto.getRentCost()}"></span>
    <span>Статус работы:</span>
    <span th:text="${bankOfficeResponseDto.getIsWorking()}"></span>
    <span>Возможность размещения банкомата:</span>
    <span th:text="${bankOfficeResponseDto.getCanPlaceAtm()}"></span>
    <span>Возможность выдачи кредита:</span>
    <span th:text="${bankOfficeResponseDto.getCanIssueCredit()}"></span>
    <span>Возможность выдачи денег:</span>
    <span th:text="${bankOfficeResponseDto.getCanDispenseMoney()}"></span>
    <span>Возможность приёма денег:</span>
    <span th:text="${bankOfficeResponseDto.getCanAcceptMoney()}"></span>
    <a th:href="@{/banklab/banks/{bankId}/offices/{id}(bankId=${bankId}, id=${bankOfficeResponseDto.getId()})}">
        <button>Перейти</button>
    </a>
</div>
</body>
</html>