body {
    font-size: 2vh;
}
.item {
    border: 1px solid blue;
    padding: 20px 20px;
    margin: 20px 20px;
}

.item span {
    display: block;
}
input {
    display: block;
}

form {
    border: 1px solid blue;
    padding: 20px 20px;
    margin: 20px 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: none;
}

h2 {
    padding: 0;
    margin: 0;
}