<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banks</title>
</head>
<body>
<h2>Банки:</h2>
<div th:each="bankDto : ${bankDtos}">
    <span>Name:</span>
    <span th:text="${bankDto.getName()}"></span>
    <span>Interest Rate:</span>
    <span th:text="${bankDto.getInterestRate()}"></span>
    <span>Rating:</span>
    <span th:text="${bankDto.getRating()}"></span>
    <span>Total Money:</span>
    <span th:text="${bankDto.getTotalMoney()}"></span>
    <br>
</div>

</body>
</html>